/*
#
# Modal Bottom Sheet
#
#
*/
  
.modal-sheet {
position: fixed;
bottom: -72%;
left: 0;
width: 100%;
background: linear-gradient(#000000, #000000);
box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.1);
transition: bottom 0.3s ease-in-out;
height: 90%; /* Adjust this to control the size */
border-radius: 20px 20px 0 0;
z-index: 100;
pointer-events: auto;
color:white;
}

.modal-sheet .range-input {
pointer-events: none;
}

.sheet-content {
padding-left: 20px;
padding-right: 20px;
margin: 0px;
padding-top: 0%;
}

.sheet-content h2 {
margin-top: 0;
}

/*
#
# End Modal Bottom Sheet
#
#
*/

.rangeAndNumber {
display: block;
align-items: center;
margin: auto;
width: 90%;
justify-content: center;
}

.setting_range {
width: 50%; /* Set a fixed width for the value div */
text-align: center;
padding-bottom: 20px;
}

.setting_range input[type="range"] {
flex-grow: 1; /* Make the range input expand to fill the available space */
}

.setting_button {
cursor: pointer;
}

.setting_button::-moz-range-thumb {
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

input[type="range"] {
height: 10px;
background-color: #c0c0c0;
border: none;
appearance: none; /* Remove default appearance */
width: 90%;
}

input[type="range"]::-webkit-slider-thumb { /* Webkit-specific styling */
appearance: none;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #007bff;
cursor: pointer;
}

.setting_name {
font-weight: 600;
display: block;
margin: auto;
width: 90%;
text-align: center;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
}


#last_element {
padding-bottom: 100px;
}

@media (min-width: 1090px) {
  .container_color_wheel_and_palettes {
    display: grid;
    grid-template-columns: 20% auto 33%;
    align-self: stretch;
    }
}

@media (max-width: 1090px) {

  .container_color_wheel_and_palettes {
    display: flex;
    align-self: stretch;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
    }

    .container_color_wheel_and_palettes * {
      margin-top: 1vh;
    }
  
}

.colorWheel {
margin: auto;
align-items: center;

}



.row {
display: grid;
grid-template-columns: auto auto auto auto auto;
}

.square {
height: 50px;
width: 50px;
background-color: #555;
margin: 5px;
border-radius: 5px;
box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.08);
}

/* Hover effect */
.square:hover {
background-color: #777;  /* Lighter shade on hover */
transform: scale(1.05);  /* Slight zoom effect */
}

/* Selected effect */
.square.selected {
background-color: #333;  /* Darker shade when selected */
/* Stronger shadow for emphasis */
transform: scale(1.05);
}
.IroColorPicker {
align-items: center;
}


.IroWheelHue:hover {
/* background-color: rgba(0, 0, 0, 0.3);  Lighter shade on hover */
background-color: rgba(0, 0, 0, 0.05) !important;
transform: scale(1.05) !important;  /* Slight zoom effect */;
}
.IroWheelHue.selected {
background-color: #333;  /* Darker shade when selected */
transform: scale(1.05) !important;
}

.selected {
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); /* Example box shadow */
}

.rotate90deg {
rotate: 90deg;
}

@media (min-width: 1090px) { 
  .palettes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;

    width: 100%;
    margin: 5px;
    align-items: center;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
  }

  .palette {
    display: flex;
    flex-wrap: wrap;
    width: 8vh; /* Width of a palette container */
    gap: 5vh;
    }

  .square {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    }
}

@media (max-width: 1090px) { 
  .palettes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    /* gap: 16px; */
    width: 100%;
    margin: 5px;
    align-items: center;
    /* padding: 1vh; */
    margin-left: auto;
    margin-right: auto;
  }

  .palette {
    display: flex;
    flex-wrap: wrap;
    width: 5vh; /* Width of a palette container */
    gap: 2px;
    }
    
    .square {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    }
}



/* Open state */
.modal-sheet.show {
    bottom: 0;
  }
  
.containerArrow {
display: flex;
justify-content: center;
align-items: center;
height: 1vh;
width: 100%;
margin-top: 1vh;

border-radius: 15px 15px 0 0;
margin-bottom: 0%;
}

#arrow {
transform: rotate(-90deg);
width: 25px;
height: 25px;
}

.arr {
cursor: pointer;
}